* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: aliceblue;
}























header nav {
    width: auto;
    height: 92px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}
.nav-logo {
    margin-top: 16px;
    padding-left: 120px;
    /* border: 1px solid green; */
}
.nav-mid {
    margin-top: 16px;
}
.nav-mid ul {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-right: 30px;
    width: 365px;
    height: 24px;
    font-size: 16px;
    /* border: 1px solid red; */
}
.nav-mid ul a li {
    list-style: none;
}
.nav-mid ul a {
    text-decoration: none;
    color: black;
}
.nav-btn {
    margin-top: 24px;
    margin-right: 120px;
}
.nav-btn a button{
    width: 164px;
    height: 44px;
    background-color: #30B868;
    color: white;
    border-radius: 4px;
    border: none;
    box-shadow: 1px 2px 50px rgba(107, 212, 107, 0.858);
}
.btn-text {
    font-size: 17px;
    font-weight: 600;
}
.first-container {
    height: 665px;
    background-image: url("../assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 16px;
}
.first-sub-container {
    max-width: 1360px;
    height: 379px;
    border: 2px solid pink;
    margin: 0 auto;

}
.header-text {
    max-width: 1370px;
    height: 295px;
    border: 1px solid red;
    justify-items: center;
}
.header-text .icon {
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: red;
    border-radius: 10px;
    margin: 0 600px;
    font-size: 10px;
}




/*  vai re vai . margin padding ar jalai ar project banano jai jamela .  more jacchi pura . */

