* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: aliceblue;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
header nav {
    width: auto;
    height: 92px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}
.nav-logo {
    margin-top: 16px;
    padding-left: 120px;
    /* border: 1px solid green; */
}
.nav-mid {
    margin-top: 16px;
}
.nav-mid ul {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-right: 30px;
    width: 365px;
    height: 24px;
    font-size: 16px;
    /* border: 1px solid red; */
}
.nav-mid ul a li {
    list-style: none;
}
.nav-mid ul a {
    text-decoration: none;
    color: black;
}
.nav-btn {
    margin-top: 24px;
    margin-right: 120px;
}
.nav-btn a button{
    width: 164px;
    height: 44px;
    background-color: #30B868;
    color: white;
    border-radius: 4px;
    border: none;
    box-shadow: 1px 2px 50px rgba(107, 212, 107, 0.858);
}
.btn-text {
    font-size: 17px;
    font-weight: 600;
}


/*  reset code here . */
.first-container {
    background-image: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 674px;
    padding: 70px 120px 134px;
}
.sub-container {
    text-align: center;
}
.headerlink {
    padding:12px;
    margin: 0px auto;
    background-color: #FFFFFF;
    width: 229px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border: none;
    border-radius: 1000px;
}
.headerlink h3 {
    color: #469165;
    font-size: 16px;
    font-weight: 500px;
}
.headertitle h1 {
    width: 770px;
    margin: 16px auto;
    font-size: 72px;
    line-height: 84px;
    color: #FFFFFF;
}
.headertitle .sec-h1 {
    color: greenyellow;
}
.headertitle p {
    font-size: 16px;
    color: white;
}
.headerlink img {
    width: 10px;
    height: 10px;
}

.button-section {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    gap: 25px;
}
.button-section .first-button {
    display: flex;
    gap: 10px;
    font-size: 20px;
    margin-right: 15px;
}
.first-button , .secnd-button {
    font-size: 20px;
    font-weight: 700px;
    color: whitesmoke;
    cursor: pointer;
}
.btn {
    width:300px;
    height: 60px;
    display: flex;
    border: none;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 0 auto;

}
.first-button .btn {
    background-color: green;
    color: white;
    border: none;
}
.secnd-button .btn {
    background-color: transparent;
    color: white;
    border: 2px solid black;
}
.btn img {
    width: 30px;
    height: 30px;
}

/* second container akn a */

.secnd-heading {
    text-align: center;
    margin-bottom: 30px;
}
.secnd-heading h2{
    font-size: 48px;
    margin-bottom: 30px;
}
.secnd-heading p {
    font-size: 16px;
    color: rgb(95, 94, 91);
    margin-bottom: 60px;
}
.secnd-card-section {
    display: flex;
    justify-content: center;
    gap: 24px;
}
.cards {
    width: 260px ;
    height: 260px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 5px 30px blanchedalmond;
    background-color: rgba(248, 246, 246, 0.802);
}
.cards img {
    background-color: pink;
    padding: 12px;
    border-radius: 50px;
}
.thard-container {
    width: 100%;
    height: 600px;
}

.thard-sub-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.picture img {
    max-width: 800px;
    height: auto;
    padding-left: 240px;
    padding-top: 200px;
    padding-bottom: 150px;
}
.trd-right {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-left: 50px;
    margin-right: 240px;
}

.trd-right-up {
    text-align: left;
}

.trd-right-down {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.txt {
    display: flex;
    align-items: center;
    gap: 10px;
}
.txt p {
    margin: 0;
}
.trd-right-up h3 {
    color: green;
    margin-bottom: 10px;
    padding-top: 50px;
}
.trd-right-up h1 {
    font-size: 40px;
    font-weight: 800px;
    margin-bottom: 20px;
}
.trd-right-up p{
    height: auto;
    width: 400px;
    font-size: 16px;
    font-weight: 300px;
    color: rgba(104, 98, 98, 0.833);
}

.forth-container {
    width: 100%;
    padding: 80px;
    padding-left: 250px;
}
.forth-sub-container {
    max-width: 1100px;
    margin: 0 auot;
    padding: 60px 40px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(234, 227, 227);
}
.fscst h1 {
    margin-bottom: 12px;
}
.fscnd {
    display: flex;
    flex-direction: column;
    align-items: center;         
    gap: 12px;
}
.fscst h1 {
    font-size: 36px;

}
.fscst p {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.721);
}
#btn {
    margin-left: 80px;
}
.fscnd p {
    font-size: 14px;
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.835);
}
footer {
    width: 100%;
    background-color: rgb(2, 2, 62);
    color: white;
}
.sub-footer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 0px ;
}

.sfu {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;
}
.sfu img {
    margin-top: 10px;  
    margin-left: 10px;  
}

.social-links ul {
    display: flex;
    gap: 12px;
    list-style: none;
    padding: 0;
    margin-top: 8px;
}
.social-links ul a {
    text-decoration: none;
}
.sfd {
    margin-top: 30px;
    text-align: center; 
}
.sfd hr {
    margin: 0;       
    border: 0.5px solid #334155;
}
.sfd p {
    margin-top: 16px;
    font-size: 14px;
}

.social-links ul a li img {
    width: 20px;
    height: 20px;
    background-color: white;
    border: 1px solid black;
    padding: 3px;
    border-radius: 50px;
}
